@import '../../styles/variables';

.button {
    width: 255px;
    height: 42px;
    border-radius: 21px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0px;
}

.darkBlue {
    background: $pDarkBlue;
    color: $pGold;
}

.offWhite {
    background: $pOffWhite;
    color: $pDarkBlue;
}


